[Desktop Entry]
Name=Stella 3.9.3
Comment=Atari 2600 emulator
MimeType=application/zip;application/octet-stream;
# Exec=stella -holdreset %f
Exec=stella %f
Terminal=false
Type=Application
StartupNotify=true
Icon=stella-32x32
Categories=emulators;
X-OD-Manual=gcw0readme.txt
X-OD-NeedsDownscaling=true
